.container {
    //css table
    width: 100%;
    .headerContent {
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttonNovoProduto {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 10px;
            border-radius: 5px;
            margin-left: 1rem;
            font-size: 1rem;
            font-weight: 550;
            font-family: 'Poppins', sans-serif;
            transition: all ease .3s;
            cursor: pointer;
            &:hover {
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }
        }
    }
    .containerTableProdutos {
        padding: 0 5%;
        .tableProdutos {
       
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            .headerTableProdutos {
                tr {
                    th {
                        //css table header
                        text-align: center;
                        font-size: .75em;
                        font-weight: bold;
                        text-align: center;
                        font-family: "Poppins", sans-serif;
                        padding: 10px;
                        border: 2px solid  var(--primary-color);
                        border-spacing: 0;
                        background-color: rgb(229, 229, 226);
                    }
                }
            }
            .bodyTableProdutos {
                .contentTableProdutos {
                    td {
                        padding: 0;
                        margin: 0;
                        border: 2px solid  var(--primary-color);
                        text-align: center;
                        //css table body
                        font-family: "Poppins", sans-serif;
                        padding: 5px;
                        font-size: .75em;
                        max-height: min-content;
                    }
                    .iconButton {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    .pagination_pagina {
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 0.2rem;
        width: 2rem;
        margin: .2rem .4rem;
        font-size: .85rem;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: var(--secondary-color);
            color: var(--primary-color);
        }
    }
}
.active_pagination {
    background-color: var(--secondary-color)!important;
    color: var(--primary-color)!important;
}

.ant_next {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin: .2rem .4rem;
    font-size: .78rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }
}