html,
body {
  /* background-color: #E9EBF4; */
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #090F41;
  --secondary-color: #ffb734;

  --background-color: #fafafa;
  --shadow-header: rgba(0, 0, 0, 0.2);
  --hambuger-color: #222222;
}


