.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    padding: 0 2rem;
    ul {
        list-style: none;
        padding: 0;
        li {
            cursor: pointer;
            padding: .3rem 0rem;
            opacity: .8;
            font-size: .9rem;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.filtroInfo {
    padding-right: 4rem;
    p {
        font-size: 1rem;
        font-weight: bold;
        color: #000
    }
}

.headerProduto {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    .inputPesquisa {
        width: 100%;
        height: 2.5rem;
        outline: 0;
        font-size: 1.2rem;
        background: white;
        color: #333;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.123);
        border-radius: 5px 0 0 5px;
        border-right: 0;
        
    }   
    .filtroPorPesquisa {
        display: flex;
        margin-left: 2.3rem;
        .caixaIconePesquisa {
            background-color: var(--primary-color);
            color: white;

            border-radius: 0 0.5rem 0.5rem 0;
            padding: 0 1rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.2s;
            display: flex;
            align-items: center;
            &:hover {
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }
        }
    }
  
}
.containerProdutos {
    width: 100%;
    .contentProdutos {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .contentProduto {
            cursor: pointer;
            max-width: 143px;
            height: 300px;
            margin: 0.6rem 0.6rem;
            background-color: #fafafa;
            padding: 0.4rem;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
            &:hover {
                box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
            }
            overflow: hidden;
      
            p {
                width: 100%;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}


.filtroPorRelevancia {
    padding-left: 4rem;
    p {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
    }
}

.selectsFilterMobile {
    display: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    .pagination_pagina {
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 0.2rem;
        width: 2rem;
        margin: .2rem .4rem;
        font-size: .85rem;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: var(--secondary-color);
            color: var(--primary-color);
        }
    }
}
.active_pagination {
    background-color: var(--secondary-color)!important;
    color: var(--primary-color)!important;
}

.ant_next {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin: .2rem .4rem;
    font-size: .78rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }
}

.loader {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// media max-width: 1050px
@media (max-width: 1050px) {
   .filtroInfo {
       display: none;
   }

   .filtroPorRelevancia {
        display: none;
    }

    .headerProduto {
      flex-direction: column;
      width: 100%;
      margin: 0;
      text-align: start;
      p {
          width: 100%;
          font-size: 1rem;
          margin: .8rem;
          font-weight: 500;
      }
      .filtroPorPesquisa {
          max-height: 36px;
          margin: 0;
          width: 100%;
          input {
            max-height: 36px;
            box-shadow: none;
            border: 1px solid rgba(0, 0, 0, 0.123);
            border-radius: 5px 0 0 5px;
            border-right: 0;
            margin: 0;
            width: 100%;
            font-size: 1rem;
          } 
          margin-bottom: .5px;
      }
      margin-bottom: .5rem;
      .selectsFilterMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        .selectfilterMovile {
            margin: .5rem 0;
        }
      }
    }

    .containerProdutos {
        .contentProdutos {
            .contentProduto {
                max-width: 120px;  
                p {
                    font-size: .9rem;
                }
            }
        }
    }
}

@media (max-width: 343px) {
    .containerProdutos {
        .contentProdutos {
            .contentProduto {
                max-width: 98.3px; 
                p {
                    font-size: .8rem;
                }
            }
        }
    }
}