.header{
    border-bottom: 3px solid #222222;
    display: flex;
    justify-content: center;
}

.navlogo {
    width: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    max-width: 1300px;
    width: 100%;
}

.hamburger {
    display: none;
    z-index: 100;
    position: absolute;
    right: 20px;
    transition: all 0.3s ease-in-out;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #222222;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navitem {
    margin-left: 2rem;
}

.navlink{
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #090F41;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navlink:hover{
    color: #ffb734;
    font-size: .91rem;
}

@media only screen and (max-width: 925px) {
    .navmenu {
        margin: 0;
        z-index: 55;
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        background-color:   white;
        width: 250px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.5);
        height: 100%;
        align-items: center;
        justify-content: unset;
        padding: 0;
        padding-top: 6rem;
        
    }

    .navmenu.active {
        right: 0;
    }

    .navitem {
        margin: 1.5rem 0;
    }

    .navlink {
        font-size: 1.2rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        span {
            background-color: #222222;
            box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        }
        
    }
    .hamburger.active {
        left: -35px;
        position: fixed;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.footer {
    font-size: 1.5rem;
}

.mascara_menu {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
}
.mascara_menu.mascara_menu_active {
    display: flex;
}

.whatsapp {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 50;
}
/*  */